<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
<main>
{{ partial "header.html" . }}
    <ul id="projects">
        {{ range .Data.Pages }}
        <li class="project">
            <a href="{{ .Permalink }}"><img width="320" height="200" src="{{ .Params.thumbnail }}" /></a>
            <div>
                <a class="project-title" href="{{ .Permalink }}">{{ .Title }}</a>
                <div class="desc">
                    {{ .Params.when }}<br />
					{{ if .Params.tags }}
					<span>
					{{ range $index, $elements := .Params.tags }}{{if $index}}, {{end}}<a href="{{ $.Site.BaseURL }}tags/{{ $elements | urlize }}">{{ $elements }}</a>{{ end }}
					</span>
					{{ end }}
                </div>
            </div>
            <div style="clear: left; float: none;"></div>
        </li>
        {{ end }}
    </ul>        
</main>
{{ partial "footer.html" . }}
</body>
</html>
