html {
  box-sizing: border-box;
  font-size: 19px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  border: 0; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.75rem; }

td,
th {
  padding: 0.25rem 0.5rem; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

body {
  color: rgba(0,0,0,.84);
  font-family: Georgia, Serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.60; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: Georgia, Serif; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4,
h5,
h6 {
  font-size: 1rem; }

p,
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1.75rem; }

a {
  outline: none;
  background-color: transparent;
  color: #24b47e;
  text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}

code {
  font-family: 'Source Code Pro', Monaco, Courier, monospace;
  font-size: 0.85rem;
  color: #555;
  background-color: #f5f5f5;
  border: 1px solid #eef;
  border-radius: 3px;
  padding: 0.2em 0.5em; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9; }

pre code {
  font-family: 'Source Code Pro', Menlo, Monaco, Courier, monospace;
  font-size: 0.7rem;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none; }

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0 0.8rem -1.5rem;
  color: #7a7a7a;
  border-left: 0.3rem solid #e5e5e5; }
  blockquote p:last-child {
    margin-bottom: 0; }

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  width: 150px;
  margin: 1.5rem 0; }

button,
.btn {
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 85%;
  line-height: normal;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  button::-moz-focus-inner,
  .btn::-moz-focus-inner {
    padding: 0;
    border: 0; }
  button:hover, button:focus,
  .btn:hover,
  .btn:focus {
    color: #24b47e;
    border: 1px solid #24b47e;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    text-decoration: none; }
  button:active,
  .btn:active {
    color: #0074d9;
    border: 1px solid #0074d9;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }

header {
  position: relative;
  margin: 3rem auto; }

.site-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
}
.site-title a {
  color: #333;
}

.nav {
  position: absolute;
  top: 0;
  left: -15px;
  transform: translateX(-100%);
  text-align: right; }

.nav-btn {
  display: inline-block;
  line-height: 16px; }
  .nav-btn.is-on .ci-burger {
    background: transparent; }
  .nav-btn.is-on .ci-burger::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  .nav-btn.is-on .ci-burger::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0; }
  .nav-btn.is-on + .nav-list {
    opacity: 1; }

.nav-list {
  list-style: none;
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }

.nav-list .spacer {
	text-align: center;
}

.ci {
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  vertical-align: top; }
  .ci:before, .ci:after {
    content: "";
    display: block;
    position: absolute; }

.ci-burger {
  width: 16px;
  height: 3px;
  top: 7px;
  left: 0;
  background: #333;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .ci-burger:before, .ci-burger:after {
    width: 100%;
    height: 3px;
    background: #333;
    left: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .ci-burger:before {
    top: -6px; }
  .ci-burger:after {
    bottom: -6px; }

main {
  *zoom: 1;
  width: auto;
  max-width: 40em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}
main:before, main:after {
    content: '';
    display: table;
}
main:after {
    clear: both;
}

.pagination {
  position: relative;
  margin-top: 5em;
}
.pagination:before, .pagination:after {
  content: '';
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination .previous {
  float: left;
}
.pagination .next {
  float: right;
}

footer {
  color: #ccc;
  font-size: 14px;
  text-align: center;
  margin: 2rem 0 1rem;
  text-transform: lowercase;
}

footer a {
  color: inherit;
}

.single header {
  margin: 15px;
}

.single .site-title {
  font-size: 1.8rem;
  margin: 0;
}

.cover .site-title a {
  color: white;
}

.cover header {
  position: absolute;
  z-index: 1000;
  color: white;
}

.no-cover .title {
  text-align: center;
}

.clear {
  float: none;
  clear: both;
}
.article .summary {
  margin-top: 10px; }

.article {
  position: relative;
  display: flex;
  margin-bottom: 2rem; }

body.cover .cover {
  background: black;
  min-height: 500px;
  height: 100%;
  position: relative;
  color: white;
  margin-bottom: 30px;
}

body.cover .cover .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: black;
  opacity: 0.7;
  }

.cover-content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  z-index: 1000;
}

.cover-content .title {
   text-transform: uppercase;
   font-size: 4vw;
   margin: 0;
}
.cover-content .title:after {
   content: none;
}
.cover-content .date,
.cover-content .author,
.cover-content .readingtime {
   color: white;
}

.article-img {
  flex-shrink: 0;
}

@media (max-width: 500px) {
  .article-img {
    display: none;
  }
}

.article-img img {
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 90px;
}

ul.article {
  list-style-type: none;
  padding-left: 0;
}

.article .info {
  position: relative;
  flex-grow: 1;
}

.article-meta {
  color: #ccc;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-meta a {
  color: #ccc;
}

.article-title {
  margin-top: 0;
  margin-bottom: 0px; }

.article-title a {
  color: #6772e5;
  line-height: 1.25;
}

.article-date, .article-author, .article-readingtime {
  color: #ccc;
  font-size: 14px; }

article {
  margin: 2rem 0; }

.blog article > p:first-of-type:first-letter {
  background-color: #a598ce;
  color: #FFFFFF;
  float: left;
  font-size: 580%;
  font-weight: lighter;
  line-height: 1em;
  margin: 0 15px 0px 0;
  padding: 20px;
}

article > figure {
  text-align: center;
}

article figcaption {
  margin: 0px;
  font-size: 0.8rem;
  color: #666;
}

#projects {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.project {
    padding: 30px 0;
    color: #666;
}

.project img {
    float: left;
    margin-right: 25px;
}

.project a.project-title {
    color: #6772e5;
    font-weight: bold;
}

h1.project-title {
	text-align: center;
}

.project .desc {
    font-size: 0.85em;
}

article figure {
    text-align: center;
    margin: 20px auto;
}

figcaption {
    font-size: 0.8em;
    padding: 0px 15px;
    margin: 0 5px;
}

figure img {
    max-width: 100%;
    max-height: 100%;
}

figcaption p {
    margin: 0px;
    color: #888;
    font-style: italic;
}

