<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

{{ $cover := .Resources.GetMatch "cover.jpg" }}
<body class="single {{ if $cover }}cover{{ else }}no-cover{{ end }}">
	{{ partial "header.html" . }}
{{ if $cover }}
	<div class="cover">
		{{ $cover := $cover.Resize "1400x" }}
		<div class="background" style="background-image: url({{ $cover.RelPermalink }})"></div>
		<div class="cover-content">
			<h1 class="title">{{ .Title }}</h1>
			<span class="readingtime">{{ .ReadingTime }} minute read &middot;</span>
			<span class="date">{{ .Date.Format "January 2, 2006 " }} &middot;</span>
			<span class="author">{{ .Site.Params.Author }}</span>
		</div>
	</div>
{{ else }}
	<h1 class="title">{{ .Title }}</h1>
{{ end }}
  <main>
    <article>
        {{ .Content }}
    </article>
	{{ partial "pagination-single.html" . }}
    {{ if .Params.comments }}
    {{ end }}
    {{ partial "footer.html" . }}
  </main>
</body>

</html>
