<title>{{ .Title }} &middot; {{ .Site.Title }}</title>
<base href="{{ .Site.BaseURL }}">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="author" content="Andrey Elenskiy">
<meta name="description" content="Andrey Elenskiy's favorite projects.">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
