<div class="pagination">
  {{ if .Paginator.HasPrev }}<a class="btn previous" href="{{ .Paginator.Prev.URL }}">Newer</a>{{ end }}
  {{ if .Paginator.HasNext }}<a class="btn next" href="{{ .Paginator.Next.URL }}">Older</a> {{ end }}
</div>
