<div class="pagination">
	{{ if .NextInSection }}<a class="btn previous" href="{{.NextInSection.Permalink}}"> Prev</a>{{ end }}
	{{ if .PrevInSection }}<a class="btn next" href="{{.PrevInSection.Permalink}}"> Next</a> {{ end }}
</div>
