<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }} - Andrey Elenskiy</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="author" content="Andrey Elenskiy">
    <style type="text/css">
        h1, h2 { margin: 0; }
        h2 { color: #AAA; }
        body { color: #444; }
        body ul, body p { margin: 0.5em 0; }
    </style>
</head>
<body>
<main>
    {{ .Content }}
</main>
</body>
</html>
