<!doctype html>

<html lang="{{ .Site.LanguageCode }}">
	<head>
		<meta charset="utf-8" />
		<base href="{{ .Site.BaseURL }}" />
		<title>{{ .Title }}</title>
		<link rel="canonical" href="{{ .Permalink }}" />
		<meta name="description" content="Andrey Elenskiy's claimed spot on the Internet. Poke around the favorite projects I've worked on." />
		<meta name="author" content="Andrey Elenskiy" />
		<style type="text/css">
			body {
				font-family: Helvetica, sans-serif;
			}
			main {
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				height: 210px;
				text-align: center;
			}
			h1,
			h2,
			h3 {
				margin: 0;
				padding: 0;
			}
			main h1 {
				color: #6772e5;
				font-size: 6em;
				font-weight: lighter;
				text-transform: lowercase;
			}
			main h2 {
				color: #0071bc;
				font-size: 3.5em;
				font-weight: 600;
				text-transform: lowercase;
			}
			main h3 {
				color: #24b47e;
				font-size: 50px;
				font-weight: lighter;
			}
			main h3 a {
				margin: 0 10px;
			}
			a,
			a:visited,
			a:hover,
			a:active {
				color: inherit;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Andrey Elenskiy</h1>
			<h3>
				<a href="/projects/">projects</a>
				<a href="/resume/">résumé</a>
			</h3>
		</main>
	</body>
</html>
