<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <main>
    {{ partial "header.html" . }}
    <div class="content">
      <ul class="article">
        {{ $paginator := .Paginate .Pages }} {{ range $paginator.Pages }}
        <li class="article">
          {{ $cover :=  .Resources.GetMatch "cover.jpg" }}
          {{ if $cover }}
            {{ $cover := $cover.Fill "150x150 q100" }}
            <div class="article-img"><a href="{{ .Permalink }}"><img class="article-img" src="{{ $cover.RelPermalink }}" windth="150" height="150"></a></div>
          {{ end }}
<div class="info">
          <h2 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <div class="article-meta">
          <span>On {{ .Date.Format "Jan 2, 2006" }} by {{ .Site.Params.Author }}</span>
		  {{ if .Params.tags }}
			<span>
		  	{{ range .Params.tags }}
			          #<a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
		  	{{ end }}
		    </span>
		  {{ end }}
		  </div>
		  	<div class="summary">
				{{ .Summary }}
				<a class="read-more" href="{{.RelPermalink}}">&hellip;</a>
			</div>
		   </div>
		   <div class="clear"></div>
        </li>
        {{ end }}
      </ul>
      {{ partial "pagination.html" . }}
    </div>
    {{ partial "footer.html" . }}
  <main>
  {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}

</body>

</html>
