{{ $original := .Page.Resources.GetMatch (.Get "img") }}
{{ $image := $original.Resize (.Get "options") }}
<figure>
  <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
  {{- if or (.Get "title") (.Get "caption") -}}
    <figcaption>
        {{ with (.Get "title") -}}
			{{ . }}
        {{- end -}}
        {{- with (.Get "caption") -}}<p>
            {{- . | markdownify -}}
        {{- end }}
    </figcaption>
  {{- end }}
</figure>
